* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.form_button {
    margin-left: 15%;
    width: 15rem;
    color: rgb(33, 37, 41) !important;
    background: #1D8044 !important;
}

.form_button:hover {
    color: #5fbd85 !important; 
    box-shadow: 0 .5rem 1rem #1D8044;
}

.my_profile_button {
    width: 80rem;
    color: rgb(33, 37, 41) !important;
    background: #1D8044 !important;
    text-decoration: none;
}

.my_profile_button:focus {
    color: rgb(33, 37, 41) !important;
    text-shadow: none;
    box-shadow: none;
    background: #1D8044 !important;
    text-decoration: none;
}

.my_profile_button:hover {
    color: #5fbd85 !important; 
    box-shadow: 0 .5rem 1rem #1D8044;
}

.my_home_button {
    color: rgb(33, 37, 41) !important;
    background: #1D8044 !important;
    text-decoration: none;
}

.my_home_button:focus {
    color: rgb(33, 37, 41) !important;
    text-shadow: none;
    box-shadow: none;
    background: #1D8044 !important;
    text-decoration: none;
    
}

.my_home_button:hover {
    color: #5fbd85 !important; 
    box-shadow: 0 .5rem 1rem #1D8044;
}

.home_section {
    height: 100vh;
    width: 100%;
    text-align: center;
    background: rgb(33, 37, 41);
}

body.white-content {
   
}

body.white-content .home_section {
    background: whitesmoke;
}

body.white-content section {
    background: whitesmoke;
}

section {
    background: rgb(33, 37, 41);
    color: grey;
    min-height: 100vh;
}

.section_with_div {
    background: rgb(33, 37, 41);
    color: grey;
    min-height: 85vh;
}

.card_form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(44, 48, 53);
    border-color: rgb(33, 37, 41) !important;
}

.card_form input{
    border-color: rgb(33, 37, 41);
    background: rgb(44, 48, 53);
    color: gray;
}

.card_form textarea{
    border-color: rgb(33, 37, 41);
    background: rgb(44, 48, 53);
    color: gray;
}

.card_form input:hover {
    border-color: rgb(33, 37, 41);
    background: rgb(44, 48, 53);
    color: gray;
}

.card_form input:active {
    border-color: rgb(33, 37, 41);
    background: rgb(44, 48, 53);
    color: gray;
}

.card_form select {
    border-color: rgb(33, 37, 41);
    background: rgb(44, 48, 53);
    color: gray;
    
}

.card_form option {
    border-color: rgb(33, 37, 41);
    background: rgb(44, 48, 53);
    color: gray;
}

.scrool_div {
    background: rgb(33, 37, 41);
    height: 1px;
}

.tournament_card {
   border: 0ch;
}

.tournament_card:hover {

    color: #5fbd85 !important; 
    box-shadow: 0 .5rem 1rem #1D8044;
}

.tournament_card a{
    color: #1D8044;
    text-decoration: none;
}

.tournaments_card_body {
    background: rgb(44, 48, 53);

}

h4 {
    color: #1D8044;
}

.tournament_text {
    color: #1D8044;
}

.my_input {
    background: rgb(44, 48, 53) !important;
    color: gray !important;
    border-color: #1D8044 !important;
    outline:#1D8044;
}


.my_input:focus {
    background: rgb(44, 48, 53) !important;
    color: gray !important;
    border-color: #1D8044 !important;
    outline:#1D8044;
}

.my_log_input {
    background: rgb(33, 37, 41) !important;
    color: gray !important;
    border-color: #1D8044 !important;
    outline:#1D8044;    
}

a {
    color: #1D8044 !important; 
    text-decoration: none;
}

a:hover {
    color: #5fbd85 !important; 
}

.log_div {
    width: 25%;
}

.my_log_input:focus {
    background: rgb(44, 48, 53) !important;
    color: gray !important;
    border-color: #1D8044 !important;
    outline:#1D8044;
}

.profile-container {
    border-radius: 10px;
    border: 1px solid #1D8044;

}

.profile-icon {
    width: 150px;
    height: 150px;
}
