:root {
    --dark: rgb(25, 32, 36);
    --ligth-dark: rgb(32, 35, 39);
    --green: #159448;
    --dark-green: rgb(24, 58, 24);
    --dark-ligth-green: #08df73;
    --ligth: whitesmoke;
    --dark-font-color: #afacac9c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark);
    color: var(--dark-font-color);  
}

body.light {
    background: var(--ligth);
    color: grey;  
}

section {
    min-height: 100vh;
    overflow-x: hidden;
}

.tournaments_section {
    min-height: 85vh;
}

.home_div {
    text-align: center;
}

.form_button_div {
    margin-left: 15%;
    width: 15rem;
}

.my_profile_button_div {
    width: 80rem;
}

.search_input {
    background: var(--dark);
    border-color: var(--green);
    color: var(--dark-font-color);
}

.search_input:focus {
    background: var(--dark);
    border-color: var(--green);
    color: var(--dark-font-color); 
}

.card_profile_form {
    background: var(--ligth-dark);
    border-color: var(--dark);
}

.scrool_div {
    background: var(--dark);
    height: 1px;
}

.tournament_card {
   border: 0ch;
}

.tournament_card:hover {
    color: var(--dark-ligth-green) !important; 
    box-shadow: 0 .5rem 1rem var(--green);
}

.tournament_card a{
    color: var(--green);
    text-decoration: none;
}

.tournaments_card_body {
    background: var(--ligth-dark);

}

h4 {
    color: var(--green);
}

.tournament_text {
    color: var(--green);
}

.my_log_input {
    background: var(--dark);
    color: var(--dark-font-color) !important;
    border-color: var(--green);
    outline:var(--green);   
}

a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--dark-ligth-green) !important; 
}

.log_div {
    width: 25%;
}

.my_log_input:focus {
    background: var(--ligth-dark);
    color: var(--dark-font-color) !important;
    border-color: var(--green);
    outline:var(--green);
}

.profile-container {
    border-radius: 10px;
    border: 1px solid var(--green);

}

.profile-icon {
    width: 150px;
    height: 150px;
}

.my_input {
    background: var(--ligth-dark);
    color: var(--dark-font-color);
    border-color: var(--green);
    outline: var(--green);
}


.my_input:focus {
    background: var(--ligth-dark);
    color: var(--dark-font-color);
    border-color: var(--green);
    outline:var(--green);
}