{% load static %}

<footer>
  <div class="container-fluid pt-3">
    <div class="row">
      <div class="col-lg-4 col-md-12 footer-text text-center">
        <p>Tournament 2022 ® - Ваш помощник в организации турниров</p>
      </div>
      <div class="col-lg-4 col-md-12 footer-text text-center">
        <p>Обратная связь</p>
      </div>
      <div class="col-lg-4 col-md-12 footer-text text-center">
        <a href="#"><img class="footer-img" src="{% static 'icon/loon-icon.png' %}" alt="telegram"></a>
      </div>
    </div>
  </div>
</footer>