.warningP {
    color: rgb(180, 118, 118);
}

.myInput {
    background: var(--ligth-dark);
    color: var(--dark-font-color);
    border-color: var(--green);
    outline: var(--green);
}


.myInput:focus {
    background: var(--ligth-dark);
    color: var(--dark-font-color);
    border-color: var(--green);
    outline:var(--green);
}