.myBtn {
    color: rgb(33, 37, 41) !important;
    background: #1D8044 !important;
    text-decoration: none;
}

.myBtn:focus {
    color: rgb(33, 37, 41) !important;
    text-shadow: none;
    box-shadow: none;
    background: #1D8044 !important;
    text-decoration: none;
}

.myBtn:hover {
    color: #5fbd85 !important; 
    box-shadow: 0 .5rem 1rem #1D8044;
}