.nav_link {
    padding-top: 1.25rem;
    color: var(--ligth) !important; 
}

.nav_link:hover {
    color: var(--dark-ligth-green) !important; 
}

.nav_background {
   
}

.my_navbar {
    background: var(--dark-second);
    height: auto !important;
    padding-right: 0.5 rem;
   
}


.my_drop {
    left: 45%;
    right: auto;
    border-color: var(--green) ;
    border-width: 1px;
    transform: translateX(-45%);

    text-decoration-color: var(--green)  !important;
}

.my_toggle {
    border-color:  var(--dark-second) !important;
    background:  var(--dark-second) !important;
    color: var(--green) !important;
}

.navbar_img {
    width: 45px;
    height: 45px;
}

@media (max-width: 1000px){
    .my_drop {
        left: 50%;
        right: auto;
        transform: translateX(-0%);
        background: rgb(25, 32, 36);
        text-decoration-color: var(--green)  !important;
    }

    .btn_circle {
        width: 38px;
        height: 38px;
        border-radius: 19px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
        color: var(--green) ;
        background: var(--dark-second);
        border-color: var(--green) ;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 1em;
    }
  }


.my_search_button {
    border: none;
    background: var(--green)  !important;
    color: var(--dark);
}

.my_search_button:hover {
    color: var(--dark-ligth-green) !important; 
}

.my_form_input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  var(--green) ;
    opacity: 1; /* Firefox */
}

.my_form_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  var(--green) ;
}

.my_form_input::-ms-input-placeholder { /* Microsoft Edge */
    color:  var(--green) ;
}

.btn_circle {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    color: var(--green) ;
    background: var(--dark-second);
    border-color: var(--green) ;
    margin-left: 2em;
    margin-right: 0.5em;
} 

.btn_circle:hover {
   
    color: var(--dark-ligth-green);
    border-color: var(--dark-ligth-green);
 
}


.nav_item {
    color: var(--green) !important; 
}

.nav_item:hover {
    background: var(--dark);
}

.nav_image {
    margin-right: 0.25rem;
    width: 75px;
    height: 55px;
}