{% extends 'base.html'%}
{% load static %}

{% block title %}
{{title}}
{% endblock %}



{% block content %}


<section class="pb-3 hello">
  <div class="container-fluid ">
    <div class="row ">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 col-md-12">
        <div class="row">
          {% for tournament in tournaments %}
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="card">

              <a href="{{ tournament.get_absolute_url }}"><img src="{{tournament.poster.url}}" class="card-img-top" alt="card text"> </a>
              <div class="card-body">
                <h5 class="card-title"><a href="{{ tournament.get_absolute_url }}">{{tournament.title}}</a></h5>
                <p class="card-text"><a href="{{ tournament.get_absolute_url }}">{{tournament.content}}</a></p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>


  </div>

  <nav aria-label="Page navigation example"  class="text-center">

    <ul class="pagination pagination-md justify-content-center mt-4" >
      {% if page_obj.has_other_pages %}
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?{{search}}page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% for p in page_obj.paginator.page_range %}
      {% if page_obj.number == p %}
      <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
      {% elif p > page_obj.number|add:-2 and p < page_obj.number|add:2 %}
      <li class="page-item"><a class="page-link" href="?{{search}}page={{ p }}">{{ p }}</a></li>
      {% endif %}

      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?{{search}}page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}

      {% endif %}
    </ul>

  </nav>
</section>

{% endblock %}
