<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">

  <title>Title</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light pb-3" style="background: linear-gradient(90deg, #AAB17B 0%, #AD99C3 100%);">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Создать Турнир</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Сгенерировать сетку</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tournaments.html">Турниры</a>
          </li>
          <li class="nav-item">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
          </li>
        </ul>
      </div>
      <div class="position-absolute top-0 end-0 pt-2">
        <a class="navbar-brand " href="#"><img class="user-icon" src="user_icon(2).png" alt=""></a>
      </div>

    </div>

  </nav>
</header>

<section class="">
  <div class="bdvideo ">
    <video src="home-back.mp4" type="video/mp4" autoplay muted loop></video>
    <div class="video-text">
     <button type="button" class="btn btn-success btn-lg mr-2">Создать турнир</button>
      <button type="button" class="btn btn-success btn-lg">Создать сетку</button>
    </div>
  </div>

  <div class="container-fluid ">
    <div class="row ">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 col-md-12">
        <div class="row">

        </div>
      </div>
    </div>
     </div>

</section>

<footer>
  <div class="container-fluid pt-3">
    <div class="row">
      <div class="col-lg-4 col-md-12 footer-text text-center">
        <p>Tournament 2022 ® - Ваш помощник в организации турниров</p>
      </div>
      <div class="col-lg-4 col-md-12 footer-text text-center">
        <p>Обратная связь</p>
      </div>
      <div class="col-lg-4 col-md-12 footer-text text-center">
        <a href="#"><img class="footer-img" src="loon-icon.png" alt="telegram"></a>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>