{% extends 'base.html'%}


{% block title %}
{{ title }}
{% endblock %}

{% block content %}


<section class="pb-3 hello">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <form method="post">

                        {% csrf_token %}
                        {{ form.as_p }}

                        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
                        <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
                    </form>

                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>


    </div>

</section>
{% endblock %}